.container {
  border: 2px solid #ccc;
  background-color:beige;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container span {
  font-size: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 480px) {
body {
background-color: lightgreen;
}
}


